{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <h2>Punto de Venta</h2>
        <form method="post" id="venta-form">
            {% csrf_token %}
            {{ form.as_p }}
            <div id="productos-container">
                {% include 'ventas/parciales/_productos.html' %}
            </div>
            <button type="submit" class="btn btn-primary">Procesar Venta</button>
        </form>
    </div>
    <div class="col-md-4">
        {% include 'ventas/parciales/_totales.html' %}
    </div>
</div>
{% include 'ventas/includes/venta_scripts.html' %}
{% endblock %}