{% extends 'core/base.html' %}
{% block title %}Categorías{% endblock %}

{% block content %}
<h2>Categorías</h2>
<a href="javascript:history.back()" class="btn btn-secondary mb-3">⬅ Volver</a>
<a href="{% url 'categoria_create' %}" class="btn btn-primary mb-2">Nueva Categoría</a>

<table class="table table-bordered">
    <tr>
        <th>ID</th><th>Nombre</th><th>Acciones</th>
    </tr>
    {% for cat in categorias %}
    <tr>
        <td>{{ cat.id }}</td>
        <td>{{ cat.nombre }}</td>
        <td>
            <a href="{% url 'categoria_edit' cat.id %}" class="btn btn-sm btn-warning">Editar</a>
            <a href="{% url 'categoria_delete' cat.id %}" class="btn btn-sm btn-danger">Eliminar</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}

