{% extends "core/base.html" %}
{% block title %}Eliminar Cliente{% endblock %}

{% block content %}
<div class="container mt-4">
<a href="javascript:history.back()" class="btn btn-secondary mb-3">⬅ Volver</a>
    <h2>¿Estás seguro que deseas eliminar a {{ cliente.nombre }}?</h2>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Eliminar</button>
        <a href="{% url 'cliente_list' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}
